
.header{
display:flex;
align-items: center;  
background-color: rgb(19, 104, 157);
width:100vw;
height:8vh;
margin:0;

}
.heading{
    display: flex;
    gap: 40px;
    margin:4px 50px;
    font-size: 16px;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    list-style: none;
    
}
.option{
    text-decoration:underline;
    color:white;
}
.option:hover{
    color:black
}

